/* line 1, ../sass/footer.scss */
.footerLink {
  display: inline-block;
  width: 100%;
  background-color: #000;
  padding: 40px;
}
/* line 6, ../sass/footer.scss */
.footerLink ul {
  width: 60%;
  display: flex;
  margin: 0 auto;
  justify-content: space-evenly;
}
/* line 12, ../sass/footer.scss */
.footerLink p {
  text-align: center;
  padding: 20px;
  color: #fff;
}
/* line 17, ../sass/footer.scss */
.footerLink img {
  width: 150px;
  height: 50px;
}
